.c-button {
  padding: 10px 20px;
  background-color: lightblue;
  border: 0px;
  cursor: pointer;
  color: black;
  transition: all ease 0.5s;
  @include box-shadow(getBoxShadowPosition('center'));
  font-size: getFontSize('m');
  @include border-radius(getBorderRadiusValue('xs'));

  &:hover {
    background-color: rgb(98, 201, 235);
  }
}
