.c-header {
  width: 100%;
  background-color: rgb(96, 187, 218);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: white;
    font-size: 60px;
  }
}
