@function getBreakpoint($value) {
  @return map-get($breakpoint-values, $value);
}

@function getColor($palette, $intensity) {
  @return nth(map-get($color-values, $palette), $intensity);
}

@function getFontWeight($intensity) {
  @return map-get($font-weight-values, $intensity);
}

//Get Box-Shadow position in order to pass it as param to the box-shadow mixin
@function getBoxShadowPosition($position) {
  @return map-get($box-shadow-values, $position);
}

@function getDisplay($value) {
  @return map-get($display-values, $position);
}

@function getTextAlign($value) {
  @return map-get($text-align-values, $value);
}

@function getFontFamily($value) {
  @return map-get($font-family-values, $value);
}

@function getFontSize($value) {
  @return map-get($font-size-values, $value);
}

@function getGap($value) {
  @return map-get($gap-values, $value);
}

@function getLineHeight($value) {
  @return map-get($line-height-values, $value);
}

@function getMargin($value) {
  @return map-get($margin-values, $value);
}

@function getPadding($value) {
  @return map-get($padding-values, $value);
}

//Get Border-Radius value in order to pass it as param to the border-radius mixin
@function getBorderRadiusValue($value) {
  @return map-get($rounded-values, $value);
}
