//PADDING
@function getPaddingKeys() {
  @return map-keys($padding-values);
}
@function getPadding($key) {
  @return map-get($padding-values, '' + $key);
}

//MARGIN
@function getMarginKeys() {
  @return map-keys($margin-values);
}
@function getMargin($key) {
  @return map-get($margin-values, '' + $key);
}

//GAP
@function getGapKeys() {
  @return map-keys($gap-values);
}
@function getGap($key) {
  @return map-get($gap-values, '' + $key);
}

//FONT-SIZE
@function getFontSizeKeys() {
  @return map-keys($font-size-values);
}
@function getFontSize($key) {
  @return map-get($font-size-values, '' + $key);
}

//BOLD
@function getFontWeightKeys() {
  @return map-keys($font-weight-values);
}
@function getFontWeight($key) {
  @return map-get($font-weight-values, '' + $key);
}

//BACKGROUND-COLOR / COLOR
@function getColorKeys() {
  @return map-keys($color-values);
}

@function getPalette($array) {
  $paleta: map-get($color-values, '' + $array);
  @return $paleta;
}

@function getColorCode($palette, $colorIndex) {
  @return nth($palette, $colorIndex);
}

//LINE-HEIGHT
@function getLineHeightKeys() {
  @return map-keys($line-height-values);
}
@function getLineHeightValue($key) {
  @return map-get($line-height-values, '' + $key);
}

//TEXT ALIGN
@function getTextAlignKeys() {
  @return map-keys($text-align-values);
}
@function getTextAlignValue($key) {
  @return map-get($text-align-values, '' + $key);
}

//FONT-FAMILY
@function getFontFamilyKeys() {
  @return map-keys($font-family-values);
}
@function getFontFamilyValue($key) {
  @return map-get($font-family-values, '' + $key);
}

//DISPLAY
@function getDisplayKeys() {
  @return map-keys($display-values);
}
@function getDisplayValue($key) {
  @return map-get($display-values, '' + $key);
}

//ROUNDED
@function getRoundedKeys() {
  @return map-keys($rounded-values);
}
@function getRoundedValue($key) {
  @return map-get($rounded-values, '' + $key);
}

//BOX-SHADOW
@function getBoxShadowKeys() {
  @return map-keys($box-shadow-values);
}
@function getBoxShadowValue($key) {
  @return map-get($box-shadow-values, '' + $key);
}
