//PADDING
@function getPaddingKeys() {
    @return map-keys($paddings);
}
@function getPadding($key) {
    @return map-get($paddings,""+$key);
}

//MARGIN
@function getMarginKeys() {
    @return map-keys($margins);
}
@function getMargin($key) {
    @return map-get($margins,""+$key);
}

//GAP
@function getGapKeys() {
    @return map-keys($gaps);
}
@function getGap($key) {
    @return map-get($gaps,""+$key);
}

//FONT-SIZE
@function getFontSizeKeys() {
    @return map-keys($font-sizes);
}
@function getFontSize($key) {
    @return map-get($font-sizes,""+$key);
}

//BOLD
@function getBoldWidthsKeys() {
    @return map-keys($bold-widths);
}
@function getBoldWidth($key) {
    @return map-get($bold-widths,""+$key);
}

//BACKGROUND-COLOR / COLOR
@function getColorKeys() {
    @return map-keys($colors);
}

@function getPalette($array){
    $paleta: map-get($colors,""+$array);
    @return $paleta;
}

@function getColorCode($palette, $colorIndex){
    @return nth($palette,$colorIndex);
}

//LINE-HEIGHT
@function getLineHeightKeys() {
    @return map-keys($line-height-values);
}
@function getLineHeightValue($key) {
    @return map-get($line-height-values,""+$key);
}

//JUSTIFY TEXT
@function getAlignTextValue($index){
    @return nth($text-align-values, $index);
}

//FONT-FAMILY
@function getFontFamilyValue($index){
    @return nth($font-family-values, $index);
}

//DISPLAY
@function getDisplayValue($index){
    @return nth($display-values, $index);
}

//ROUNDED
@function getRoundedKeys() {
    @return map-keys($rounded-values);
}
@function getRoundedValue($key) {
    @return map-get($rounded-values,""+$key);
}

//BOX-SHADOW
@function getBoxShadowKeys() {
    @return map-keys($box-shadow-values);
}
@function getBoxShadowValue($key) {
    @return map-get($box-shadow-values,""+$key);
}