@each $d-size, $d-value in $breakpoint-values {
  @if #{$d-size} == '' {
    .l-hamburger {
      display: grid;
      height: 100%;
      grid-template-rows: auto 1fr auto;
    }
  } @else {
    @media screen and (min-width: #{$d-value}) {
      .#{$d-size}#{$breakpoint-separator}l-hamburger {
        display: grid;
        height: 100%;
        grid-template-rows: auto 1fr auto;
      }
    }
  }
}
