@each $d-size, $d-value in $breakpoint-values {
  @if #{$d-size} == '' {
    @each $key in getGapKeys() {
      .g--gap-#{$key} {
        gap: getGap($key);
      }

      .g--gap-horizontal-#{$key} {
        row-gap: getGap($key);
      }

      .g--gap-vertical-#{$key} {
        column-gap: getGap($key);
      }
    }
  } @else {
    @media screen and (min-width: #{$d-value}) {
      @each $key in getGapKeys() {
        .#{$d-size}#{$breakpoint-separator}g--gap-#{$key} {
          gap: getGap($key);
        }

        .#{$d-size}#{$breakpoint-separator}g--gap-horizontal-#{$key} {
          row-gap: getGap($key);
        }

        .#{$d-size}#{$breakpoint-separator}g--gap-vertical-#{$key} {
          column-gap: getGap($key);
        }
      }
    }
  }
}
