@each $d-size, $d-value in $breakpoint-values {
  @if #{$d-size} == '' {
    @each $key in getGapKeys() {
      .g--gap-#{$key}#{$d-size} {
        gap: getGap($key);
      }

      .g--gap-horizontal-#{$key}#{$d-size} {
        row-gap: getGap($key);
      }

      .g--gap-vertical-#{$key}#{$d-size} {
        column-gap: getGap($key);
      }
    }
  } @else {
    @media screen and (min-width: #{$d-value}) {
      @each $key in getGapKeys() {
        .g--gap-#{$key}#{$d-size} {
          gap: getGap($key);
        }

        .g--gap-horizontal-#{$key}#{$d-size} {
          row-gap: getGap($key);
        }

        .g--gap-vertical-#{$key}#{$d-size} {
          column-gap: getGap($key);
        }
      }
    }
  }
}
