@each $d-size, $d-value in $breakpoint-values {
  @if #{$d-size} == '' {
    @each $key in getBoxShadowKeys() {
      .g--box-shadow-#{$key} {
        @include box-shadow(getBoxShadowValue($key));
      }
    }
  } @else {
    @media screen and (min-width: #{$d-value}) {
      @each $key in getBoxShadowKeys() {
        .g--box-shadow-#{$key}#{$breakpoint-separator}#{$d-size} {
          @include box-shadow(getBoxShadowValue($key));
        }
      }
    }
  }
}
