@each $d-size,$d-value in $display-sizes {
    @if #{$d-size} == "" {
        @each $key in getGapKeys() {
            .g--gap-#{$key}#{$d-size} {
                gap: getGap($key);
            }

            .g--gap-row-#{$key}#{$d-size} {
                row-gap: getGap($key);
            }

            .g--gap-col-#{$key}#{$d-size} {
                column-gap: getGap($key);
            }
        }
    } @else {
        @media screen and (max-width: #{$d-value}){
            @each $key in getGapKeys() {
                .g--gap-#{$key}#{$d-size} {
                    gap: getGap($key);
                }
    
                .g--gap-row-#{$key}#{$d-size} {
                    row-gap: getGap($key);
                }
    
                .g--gap-col-#{$key}#{$d-size} {
                    column-gap: getGap($key);
                }
            }
        }
    }
}