@each $d-size, $d-value in $breakpoint-values {
  @if #{$d-size} == '' {
    @each $key in getLineHeightKeys() {
      .g--line-height-#{$key} {
        line-height: getLineHeightValue($key);
      }
    }
  } @else {
    @media screen and (min-width: #{$d-value}) {
      @each $key in getLineHeightKeys() {
        .#{$d-size}#{$breakpoint-separator}g--line-height-#{$key} {
          line-height: getLineHeightValue($key);
        }
      }
    }
  }
}
