@each $d-size, $d-value in $breakpoint-values {
  @if #{$d-size} == '' {
    @each $key in getMarginKeys() {
      .g--margin-#{$key} {
        margin: getMargin($key);
      }

      .g--margin-vertical-#{$key} {
        margin-top: getMargin($key);
        margin-bottom: getMargin($key);
      }

      .g--margin-horizontal-#{$key} {
        margin-left: getMargin($key);
        margin-right: getMargin($key);
      }

      .g--margin-top-#{$key} {
        margin-top: getMargin($key);
      }

      .g--margin-bottom-#{$key} {
        margin-bottom: getMargin($key);
      }

      .g--margin-left-#{$key} {
        margin-left: getMargin($key);
      }

      .g--margin-right-#{$key} {
        margin-right: getMargin($key);
      }
    }
  } @else {
    @media screen and (min-width: #{$d-value}) {
      @each $key in getMarginKeys() {
        .#{$d-size}#{$breakpoint-separator}g--margin-#{$key} {
          margin: getMargin($key);
        }

        .#{$d-size}#{$breakpoint-separator}g--margin-vertical-#{$key} {
          margin-top: getMargin($key);
          margin-bottom: getMargin($key);
        }

        .#{$d-size}#{$breakpoint-separator}g--margin-horizontal-#{$key} {
          margin-left: getMargin($key);
          margin-right: getMargin($key);
        }

        .#{$d-size}#{$breakpoint-separator}g--margin-top-#{$key} {
          margin-top: getMargin($key);
        }

        .#{$d-size}#{$breakpoint-separator}g--margin-bottom-#{$key} {
          margin-bottom: getMargin($key);
        }

        .#{$d-size}#{$breakpoint-separator}g--margin-left-#{$key} {
          margin-left: getMargin($key);
        }

        .#{$d-size}#{$breakpoint-separator}g--margin-right-#{$key} {
          margin-right: getMargin($key);
        }
      }
    }
  }
}
