@each $d-size, $d-value in $display-sizes {
  @if #{$d-size} == "" {
    @for $index from 1 to length($text-align-values) + 1 {
      $align-text-value: getAlignTextValue($index);
      .g--text-align-#{$align-text-value} {
        text-align: $align-text-value;
      }
    }
  } @else {
    @media screen and (max-width: #{$d-value}) {
      @for $index from 1 to length($text-align-values) + 1 {
        $align-text-value: getAlignTextValue($index);
        .g--text-align-#{$align-text-value}#{$d-size} {
          text-align: $align-text-value;
        }
      }
    }
  }
}
